* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 15px;
	scrollbar-width: thin;
	scrollbar-color: rgb(61, 61, 61);
	scroll-behavior: smooth;
}

html {
	font-family: var(--font-inter);
}

:root {
	--font-sacramento: 'Sacramento', cursive;
	--font-inter: 'Inter', sans-serif;
	--bg-colour: rgb(255, 255, 255);
	--heading-colour: rgb(82, 81, 81);
	--paragraph-colour: rgb(116, 116, 116);
	--line-colour: rgb(233, 233, 233);
	--paragraph-col: 116, 116, 116;
	--card-bg: rgb(245, 245, 245);
}

@media screen and (min-width: 320px) {
	:root {
		--top-padding: 100px;
	}
}
@media screen and (min-width: 425px) {
	:root {
		--top-padding: 130px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-colour: rgb(26, 26, 26);
		--heading-colour: rgb(255, 255, 255);
		--paragraph-colour: rgb(207, 207, 207);
		--paragraph-col: 207, 207, 207;
		--card-bg: rgb(37, 37, 37);
		--line-colour: rgb(48, 48, 48);
	}
}

/*
@media screen and (min-width: 1024px) {
	:root {
		--top-padding: 200px;
	}
} */

h1,
h2,
h3,
h4,
h5,
h6,
button,
blockquote {
	color: var(--heading-colour);
	font-weight: 600;
}
p,
i {
	color: var(--paragraph-colour);
	font-weight: 400;
	line-height: 1.65;
}

a {
	color: inherit;
	text-decoration: none;
}

svg {
	stroke: var(--paragraph-colour);
}
svg.heading {
	opacity: 0.85;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg-colour: rgb(255, 255, 255);
		--heading-colour: rgb(82, 81, 81);
		--paragraph-colour: rgb(116, 116, 116);
		--paragraph-col: 116, 116, 116;
	}
} */
